@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;
  }
}

@theme {
  --color-footer-bg: #d3d3d3;
}

html,
body,
#root {
  height: 100%;
}
